html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-position: bottom;
  min-height: 100%;
}
form{
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin: 20px,0;
}
.dropdown-button{
  width: 150px;
}
.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.error {
  border-color: rgb(218, 137, 137);
}
#mainmenu .active{
  font-weight: bold;
  border-bottom: 2px solid white;
  box-shadow: 0 5px 0;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(153, 8, 8);
  box-shadow: 0 1px 0 0 rgb(153, 8, 8);
}
.required-field::after {
  content: "*";
  color: red;
}