html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-position: bottom;
  min-height: 100%;
}
form{
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin: 20px,0;
}
.dropdown-button{
  width: 150px;
}
.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.error {
  border-color: rgb(218, 137, 137);
}
#mainmenu .active{
  font-weight: bold;
  border-bottom: 2px solid white;
  box-shadow: 0 5px 0;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(153, 8, 8);
  box-shadow: 0 1px 0 0 rgb(153, 8, 8);
}
.required-field::after {
  content: "*";
  color: red;
}
.firstrowborder{
  border-radius: 20px;
  border: 2px solid rgb(110, 150, 150);
  padding: 5px;
}
.ReactTable .rt-table{
  border: 1px solid rgb(50, 158, 91);
}
.ReactTable .rt-thead.-header {
  background-color: #658f8b;
  color: #f9f3f3;
}
.ReactTable.-striped .rt-tr {
  text-align: CENTER;
}
.ReactTable.-striped .rt-tr.-odd  {
  background: rgba(158, 158, 158, 0.41);
}
div.vertical-line{
  width: 1px; /* Line width */
  border-right: 1px solid #26a69a;
  height: 10%;
  position: absolute;
  padding-left: 10px;
}
.horizontal-line{
  width: 48%; /* Line width */
  height: 1px;
  position: absolute;
  border-bottom: 1px solid #26a69a;
}